[Desktop Entry]
Version=1.0
Type=Application
Name=pim
Comment=A modern & minimalist pixel editor
TryExec=pim
Exec=pim
Icon=pim
Categories=Graphics;2DGraphics;RasterGraphics;
Terminal=false
MimeType=image/png;
